@media (max-width: 480px) 
{
    .form-container {
    width: 88%; /* Adjust width to fit smaller screens */
    padding: 13px; /* Reduce padding */
    height:99.5%;
    }
    
    .form-close-btn {
    font-size: 18px; /* Slightly smaller close button */
    top: 6px; /* Adjust top position for smaller screen */
    }
    
    .form-heading {
    font-size: 16px; /* Adjust heading font size */
    }
    .custom-btn-dwn{
        padding:2px;
        font-size: 16px;
        margin-top:-2px;
    }
}
@media (max-width: 480px) 
{
    .new-form-container {
        width: 88%; /* Adjust width to fit smaller screens */
        padding: 13px; /* Reduce padding */
        height:99.5%;
        }
        
        .new-form-close-btn {
        font-size: 18px; /* Slightly smaller close button */
        top: 6px; /* Adjust top position for smaller screen */
        }
        
        .new-form-heading {
        font-size: 16px; /* Adjust heading font size */
        }
        .custom-btn-dwn{
            padding:2px;
            font-size: 16px;
            margin-top:-2px;
        }
}
@media (max-width: 768px) {
    .benefit-item {
    margin-bottom: -10px; /* Reduced bottom margin for smaller screens */
    }
}
@media(max-width :500px){
    .accordion-button li.d-inline-flex {
        margin-right: 0; /* Reduce space between the items */
    }
}
@media (max-width: 768px) {
    .highlights-container {
        width: calc(50% - 20px); /* Make boxes wider for smaller screens */
    }
}

@media (max-width: 480px) {
    .highlights-container {
        width: 100%; /* Stack boxes on top of each other for very small screens */
    }
}
/* Responsive adjustments */
@media (max-width: 1024px) {
    .myproject-card {
        flex: 0 0 30%;
        max-width: 48%;
        margin: 0 1%;
    }
}

@media (max-width: 768px) {
    .myproject-card {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
        padding: 15px;
    }

    .myproject-cards {
        width: 100%;
    }
}
@media (max-width: 591px) {
    .mt-5 {
        margin-top: 18rem !important;
    }
}